* {
    color : red;
}

h1 {
    color : blue;
}

h2 {
    color: white;
}

.pink {
    color : pink
}

#green {
    color : green;
}

#yellow {
    color: yellow;
}

.bold {
    font-weight: bold;
}
.blue {
    color :blue;
}